# Ignore everything
*

# But not these files...
!/*.vimrc
!/*.vim
!/*.bashrc
!/.gitignore
!/bin/
!/bin/*
!/bin/completions/
!/bin/completions/*
!/.ssh/
!/.ssh/config
!/.ssh/config.d/
!/.ssh/config.d/.gitkeep
!/.config
!/.config/gtk-3.0
!/.config/gtk-3.0/gtk.css
!/notes/
